@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>ĐƠN HÀNG ĐÃ ĐƯỢC XÁC NHẬN(._.)</h2>
<h3>CHÚNG TÔI SẼ GIAO HÀNG CHO BẠN SỚM NHẤT CÓ THỂ NHÉ:)))!</h3>
<p>
    @Html.ActionLink("Về trang chủ", "Index", "Home")
</p>